In [19]:
import pandas as pd

In [20]:
adidas_sales = pd.read_csv("Adidas Sales.csv")
adidas_sales.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet

In [21]:
adidas_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9641 non-null   object
 1   Retailer ID       9641 non-null   int64
 2   Invoice Date      9641 non-null   object
 3   Region            9641 non-null   object
 4   State             9641 non-null   object
 5   City              9641 non-null   object
 6   Product           9641 non-null   object
 7   Price per Unit    9639 non-null   object
 8   Units Sold        9641 non-null   object
 9   Total Sales       9641 non-null   object
 10  Operating Profit  9641 non-null   object
 11  Sales Method      9641 non-null   object
dtypes: int64(1), object(11)
memory usage: 904.0+ KB

In [22]:
adidas_sales.describe()

        Retailer ID
count  9.641000e+03
mean   1.173851e+06
std    2.635869e+04
min    1.128299e+06
25%    1.185732e+06
50%    1.185732e+06
75%    1.185732e+06
max    1.197831e+06

In [23]:
# Melihat nilai Null pada data
null_values = adidas_sales.isnull().sum()
null_values

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      2
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

Pengecekan nilai null sangat penting dalam analisis data karena berkontribusi pada tercapainya tingkat akurasi yang tinggi. Proses ini membantu memastikan bahwa dataset tidak memiliki data yang hilang atau tidak lengkap, yang bisa menyebabkan ketidakakuratan dalam analisis. Setelah melakukan pengecekan nilai null, ditemukan 2 nilai null pada kolom "price per unit."

In [24]:
duplikat = adidas_sales.duplicated()
duplikat

0       False
1       False
2       False
3       False
4       False
        ...
9636    False
9637    False
9638    False
9639    False
9640    False
Length: 9641, dtype: bool

Pengecekan nilai duplikat sangat penting dalam analisis data karena dapat memengaruhi hasil analisis dan mengurangi akurasi data. Nilai duplikat bisa terjadi akibat kesalahan dalam pengumpulan atau pemrosesan data, dan jika tidak ditangani, dapat menyebabkan bias dalam analisis atau perhitungan statistik. Setelah melakukan pengecekan terhadap nilai duplikat, tidak ditemukan data yang duplikat dalam dataset yang saya gunakan. Hal ini memastikan bahwa dataset bersih dari entri berulang yang bisa mengganggu proses analisis. Dengan demikian, analisis dapat dilakukan dengan lebih akurat dan memberikan hasil yang lebih dapat diandalkan.

In [25]:
# Menghapus baris yang memiliki nilai null
adidas_sales = adidas_sales.dropna()

In [26]:
# Melihat nilai Null pada data
null_values = adidas_sales.isnull().sum()
null_values

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

In [27]:
# Menyimpan dataframe yang sudah dibersihkan ke dalam file CSV baru
adidas_sales.to_csv('Adidas Sales Cleansed.csv', index=False)
print("Data telah disimpan ke CSV")

Data telah disimpan ke CSV

In [28]:
# Menyimpan dataset tanpa outlier ke file CSV
adidas_sales.to_csv('/content/Adidas_Sales_Cleaned.csv', index=False)

In [29]:
adidas_sales = pd.read_csv("Adidas Sales Cleansed.csv")
adidas_sales.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet